.box {
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.locate {
  position: sticky;
  top: 30px;
  left: 30px;
}
